.aboutusMain{
    height: 220vh;
    text-align: start;
    margin-top: 10vh;
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.aboutusMain > h2{
    text-align: start;
    margin-top: 0vh;
    margin-bottom: 4vh;
}

.membersOfUnion > h2 {
    text-align: start;
}

.membershipBtn{
    color: #111111;
}

.aMemberOfUnion {
    margin-top: 10%;
}

.aMemberOfUnion > b {
    margin-top: 10%;
}

.aMemberOfUnion > p {
    margin-top: 2%;
}

.linesOfMembers > a{
    color: #111111;
    text-decoration: none;
    margin-left: 12%;
}

.departmentsH2{
    text-align: start;
    margin-top: 8%;
}

.departments{
    height: 40vh;
    width: 60vw;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    padding-bottom: 2%; 
}

.departmentsItem{
    display: flex;
    flex-direction: column;
    width: 20vw;
    text-align: start;
    margin-left: 4%;
}

.becomeAMember{
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20vh;
    height: 6vh;
    background: #e0fbfcff;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
}

.becomeAMember:hover{
    color: #ef476fff;
}