.newsEventsContainer{
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 10vh;
    
}

.newsShortContainer{
    display: flex;
    flex-direction: column;
    height: 64vh;
    width: 60%;
    margin: auto;
    margin-top: 28%;
}

.shortNewsItem{
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
}

.shortNewsItem > span {
    margin-left: 5%;
}

.shortNewsPart{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.shortNewsh2{
    text-decoration: none;
    text-align: start;
    margin-top: 0vh;
}

.h22 {
    text-decoration: none;
}

.h22:visited{
    color: inherit;
}


.newsImg{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.24);
}

.shortNewsPart > span {
    text-align: start;
}

.shortNewsPart > h3 {
    margin-top: 0%;
    margin-bottom: 2%;
    text-align: start;
}

.shortNewsPart > h3 > a {
    text-decoration: none;
    color: black;
}
