.container{
    margin-top: 10vh;
}

.avatarAndNameContainer{
    margin-top: 10vh;
}

.avatarAndNameContainer > p{
    margin-left: 10%;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.questionsContainer{
    margin-top: 4vh;
}

.questionsContainer > span{
    margin-left: 0%;
}

.logout{
    cursor: pointer;
    margin-right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10vw;
    height: 4vh;
    background: #e0fbfcff;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
}

.logout:hover{
    color: #ef476fff;
}

.loginDeleteBtnsContainer{
    margin-top: 20vh;
}

.delete{
    cursor: pointer;
    margin-right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10vw;
    height: 4vh;
    background: none;
    border: none;
    font-size: 16px;
}

.delete:hover{
    color: #ef476fff;
}
