


.loginPageContainer{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3%;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.loginFormInputs{
    width: 30vw;
    height: 7vh;
    margin: auto;
    margin-bottom: 2%;
}

.loginButton{
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color:#D3D3D3;
    margin-top: 3%;
    margin-left: 50%;
}

.membershipButton{
    width: 15vw;
    height: 5vh;
    margin: auto;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color:#D3D3D3;
    margin-top: 3%;
    margin-top: 2%;
}

.toRegistrationLink{
    margin-top: 2%;
}