.navbarLogo{
    text-decoration: none;
}

.navbarMainContainer{
    display: flex;
    flex-direction: row;
    height: 80px;
}

.logoContainer{
    display: flex;
    flex-direction: row;
}

.logoContainer > div {
    flex-grow: 5;
    color: #e0fbfcff;
    width: 200px;
    text-align: start;
    margin-top: 3.7%;
}

#navbarItem1{
    margin: 3%;
    margin-left: 5%;
}

#navbarItem2{
    display: flex;
    flex-direction: row;
    flex-grow: 5;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 0.5%;
    margin-right: 4vw;
}

.navbarPages{
    font-size: 15px;
    text-decoration: none;
    color: #e0fbfcff;
}

.navbarPages:hover{
    color: #ef476fff;
}

.userIcon{
    color:#e0fbfcff;
    height: 3vh;
    width: 3vw;
    margin-left: 0vw;
}

.userIcon:hover{
    color: #ef476fff;
}

.userIconContainer{
    margin-left: 4vw;
}
