


.faqContainer{
    display: flex;
    flex-direction: column;
    width: 70% ;
    text-align: start;
    margin-left: 15%;
    margin-top: 10%;

}

.faqContainer > h2 {
    text-align: start;
    margin-left: 4%;
}


.toggleContainer{
    height: 100vw;
    text-align: justify;
}

.item{
    background-color: #D3D3D3;
    margin-bottom: 3%;
    height: 6vh;
    padding: 1%;
}

.title{
    justify-content: space-between;
    cursor: pointer;
}

.content {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content_show{
    width: 66.45vw;
    margin-top: 1%;
    margin-bottom: 5%;
    max-height: 100px;
    background-color: #D3D3D3;
    transition: all 0.5s cubic-bezier(1,1,1,1);
    text-align: start;
    margin-left: -1%;
    padding: 2%;
}

.questionTypeArea{
    margin-top: -55%;
}