.faqContainer{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: start;
    margin-left: 30%;
    margin-top: 4%;
    margin-bottom: 10%;
}

.faqContainer > h2 {
    text-align: start;
    margin-left: 4%;
}

.toggleContainer{
    height: 16vw;
    text-align: justify;
}

.item{
    background-color: #D3D3D3;
    margin-bottom: 1%;
    height: 4vh;
    padding: 1%;
}

.title{
    font-weight: bold;
    justify-content: space-between;
    cursor: pointer;
}

.title:hover{
    color: #ee6c4dff;
}

.content {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content_show{
    transform: translateY(50%);
    transform: translateX(50%);
    margin-top: 4%;
    margin-bottom: 4%;
    max-height: 100px;
    background-color: #D3D3D3;
    transition: all 0.5s cubic-bezier(1,1,1,1);
    text-align: start;
}

.title .content::after{
    margin-top: 15px;
}

.questionTypeArea{
    margin-top: 20%;
}