


.faqContainer{
    display: flex;
    flex-direction: column;
    width: 70% auto;
    margin-left: 15%;
    margin-top: 10%;

}

.faqContainer > h2 {
    text-align: start;
    margin-left: 4%;
}

.anFAQAnswercontainer{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 50vw;
}

.questionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    padding: 1%;
}

.question{
    background-color: #D3D3D3;
    height: 6vh;
    width: 40vw;
    padding: 1%;
    text-align: start;
    margin-left: 6%;
}

.showAnswer{
    background-color: #D3D3D3;
    margin-left: 5%;
}