


.mainContent{
    width: auto;
}

.mainContentParagraph{
    color: #EDEDED;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

.mainContentParagraph > p {
    margin-top: 0px;
    padding-top: 15%;
}

